body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #158F81;
}

.panel {
    width: 1222px; 
    height: 650px; 
    background-color: #5EBBB3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
}

.left-column {
    flex: 1;
    background-color: #5EBBB3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
}

.left-column img {
    max-width: 80%;
    border-radius: 15px;
}

.right-column {
    flex: 1;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.main-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    align-self: flex-start; 
}

.rectangle {
    width: 500px;
    height: 75px;
    background-color: rgba(205, 229, 223, 0);
    color: #000;
    border-radius: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
}

.inner-content img {
    margin-bottom: 12px;
    max-width: 80px;
    margin-right: 10px;
}

/* Remove width property from input fields */
.inner-content input[type="email"],
.inner-content input[type="password"] {
    padding: 10px;
    width: 350px;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.forgot-password-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    margin-top: 10px; 
    font-size: 12px; 
    font-weight: bold;
    align-self: flex-end; 
    margin-left: 395px;
}

.signin-button {
    width: 200px;
    height: 50px;
    background-color: #158F81;
    color: #fff;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

.signin-text {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center; /* Center the text */
}

.privacy-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 65px;
    margin-left: 65px;
    text-align: center; /* Center the text */
}


.signup-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 65px;
    margin-left: 65px;
    text-align: center;
}

.signup {
    font-family: 'Source Sans Pro', sans-serif;
    color:  #158F81; 
}

