@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #158F81 !important;
}

.panel {
  display: flex;
  width: 1222px;
  height: 650px;
  background-color: #5EBBB3;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

.left-column {
  flex: 1;
  background-color: #CDE5DF;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.right-column {
  flex: 3;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.logo {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.header {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.sub-header-small {
  color: white;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
}

.white-header {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 20px;
}

.sub-header {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 20px;
}

.separator {
  height: 4px;
  width: 100%;
  background-color: #565454;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.nav-text {
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: bold;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navigation a {
  text-decoration: none;
}

.nav-icon {
  width: 20px;
  height: auto;
  margin-right: 20px;
}


.status {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.status-icon {
  width: 60px;
  height: auto;
  margin-bottom: 5px;
}

.status-text {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: bold;
  text-align: center;
}

.upper-right {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 30px;
  display: flex;
  align-items: center;
}

.bell-icon {
  width: 50px; 
  height: auto;
  padding-right: 20px;
  padding-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.result-button {
  flex: 1;
  max-width: 300px;
  height: 70px;
  display:flex;
  align-items: center;
  padding: 5px;
  font-size: 15px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
  margin-left: 30%;
  justify-content: center;
}

.result-button .nav-icon {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.button-info {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.plus-image {
  position: absolute;
  top: 2px;
  left: 80px;
  width: 20px;
  height: 20px;
}


.location-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.location-button {
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 8px;
  outline: none;
}

.submit-button {
  width: fit-content;
  margin: auto;
}

.submit-button button {
  width: 200px;
  height: 50px;
  background-color: #158F81;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button button:hover {
  background-color: #11766D;
}

.scrollable {
  overflow-y: auto;
  max-height: 400px;
}

.selected-row {
    background-color: lightblue;
}
