<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {
            "packages": ["map"],
            "mapsApiKey": "AIzaSyBSoQrR3G-RybhYs3rwFMaDvJbPs-dgod4"
        });

        google.charts.setOnLoadCallback(getDisposalPlaces);

        function getDisposalPlaces() {

            // get the user's live location
            function getUserLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showUserLocation);
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            }

            // show user's location on the map
            function showUserLocation(position) {
                mapData.push([position.coords.latitude, position.coords.longitude, "Your Location"]);
                var dataTable = google.visualization.arrayToDataTable([
                    ['Lat', 'Long', 'Address'],
                    ...mapData
                ]);

                // Create map
                var map = new google.visualization.Map(document.getElementById('map_div'));
                map.draw(dataTable, {
                    showTooltip: true,
                    showInfoWindow: true
                });
            }

            function connectToGoogleMaps(lat, lng, address) {

                var startPoint = document.getElementById('startPoint');
                var endPoint = document.getElementById('endPoint');

                // Get the user's current location
                navigator.geolocation.getCurrentPosition(function (position) {
                    startPoint.value = position.coords.latitude + ',' + position.coords.longitude; // User's location
                    endPoint.value = lat + ',' + lng;

                    window.open('https://www.google.com/maps/dir/' + startPoint.value + '/' + endPoint.value);
                }, function (error) {
                    console.error("Error getting user's location:", error);
                });
            }

            // Array to store disposal places and user's location
            let mapData = [];

            // Get disposal places
            $.ajax({
                method: "get",
                url: "http://localhost:8080/api/v1/disposal_place/getAllDisposalPlaces",
                async: true,
                success: function (data) {
                    if (data.code === "00") {

                        mapData = data.content.map(disposal => [disposal.lat, disposal.lng, disposal.address]);


                        getUserLocation();


                        var directionButton = document.createElement('button');
                        directionButton.textContent = 'Get Directions';
                        directionButton.addEventListener('click', function () {

                            connectToGoogleMaps(mapData[1][0], mapData[1][1], mapData[1][2]);
                        });
                        document.body.appendChild(directionButton);
                    }
                }
            });
        }
    </script>
</head>

<body>
<h1>hello</h1>
<div id="map_div" style="width: 800px; height: 700px"></div>

<input type="text" id="startPoint" style="display:none;">
<input type="text" id="endPoint" style="display:none;">
</body>
</html>
