/* Font Import - Add this to import Source Sans Pro font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #158F81; 
}

.panel {
  display: flex;
  width: 1222px; 
  height: 650px;
  background-color: #5EBBB3; 
  border-radius: 20px; 
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7); 
}

.left-column {
  flex: 1; 
  background-color: #CDE5DF; 
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px; 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.right-column {
  flex: 3; 
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex; 
  flex-direction: column; 
}

.logo {
  width: 60px; 
  height: auto;
  margin-bottom: 10px;
}

.header {
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}


.sub-header-small {
    color: white;
    font-size: 14px; 
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px; 
  }

.white-header {
  color: white; 
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 20px; 
}

.sub-header {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 20px;
}

.separator {
  height: 4px;
  width: 100%;
  background-color: #565454; 
  margin-bottom: 20px;
}

.header,
.sub-header,
.separator {
  white-space: nowrap; 
  
}

.navigation {
  display: flex;
  flex-direction: column;
}

.nav-text {
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: bold; 
  white-space: nowrap; 
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.navigation a {
  text-decoration: none; 
}

.navigation a:hover {
  text-decoration: underline; 
}

.nav-icon {
  width: 20px; 
  height: auto;
  margin-right: 20px;
}

.nav-text {
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black; 
  font-weight: bold;
}

.status {
  display: flex;
  align-items: center; 
  flex-direction: column; 
  margin-top: auto;
}

.status-icon {
  width: 60px; 
  height: auto;
  margin-bottom: 5px; 
}

.status-text {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: bold; 
  text-align: center;
}

.upper-right {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 30px;
    display: flex;
    align-items: center;
  }
.text-container {
    text-align: center;
}

.inner-text1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    line-height: 1;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 48px;
    margin-top: -85px;
}

.inner-text2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    line-height: 1.5;
    margin: 0;
    font-size: 12px;
    margin-right: 90px;
}

.inner-text3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    line-height: 1.5;
    margin-top: 60px;
    font-size: 14px;
    margin-right: 100px;
    cursor: pointer;
}

.main-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 50px; 
    align-self: flex-start; 
    margin-bottom: 4px;
}

.img-row {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    max-width: 300px;
    margin-top: 10px;
}

.img-row img {
    max-width: 45px;
    margin-left: 40px;
}

.right-column img {
    max-width: 40px;
    align-self: flex-end; /* Align to the right */
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.row {
    display: flex;
}

.rectangle {
    flex: 1;
    height: 70px; 
    width: 250px;
    background-color: #E8C1C1;
    color: #000;
    border-radius: 15px;
    margin-top: -10px;
    margin-left: 580px; 
    margin-right: 10px;
    display: flex;
    cursor: pointer;
}

.inner-content {
    display: flex;
    align-items: center;
}

.inner-content img {
    max-width: 50px;
    margin-right: 10px; 
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 32px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align inner text to the right */
}

.inner-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: red;
    line-height: 1;
    margin: 0;
    font-size: 35px; 
    font-weight: bold;
}

.inner-text4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    line-height: 1;
    margin: 0;
    font-size: 13px;
}

.rectangle1 {
    display: flex;
    height: 70px; 
    width: 710px;
    background-color: #CDE5DF;
    color: #000;
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 40px; 
    margin-right: 100px; 
    align-items: center; /* Center the inner content vertically */
}

.inner-content1 {
    flex: 1;
    display: flex;
    align-items: center; /* Center the text vertically */
    margin-left: 10px; 
}

.inner-text5 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    line-height: 1;
    margin: 0;
    font-size: 20px;
}

.inner-content1 img {
    max-width: 50px; 
    margin-right: 10px; 
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 32px;
}

.short-rectangle {
    width: 130px; 
    height: 50px; 
    background-color: #158F81; 
    border-radius: 15px; 
    margin-right: 10px; 
    cursor: pointer;
}

.short-rectangle1 {
    width: 50px; 
    height: 50px; 
    background-color: green; 
    border-radius: 15px; 
    margin-right: 30px; 
}

.inner-text6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    line-height: 1;
    margin: 0;
    font-size: 14px; 
    margin-top: 10px;
}

.text-container7 {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align inner text to the right */
}

.inner-content7 {
    display: flex;
    align-items: center;
}

.inner-text7 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    color: #fff;
    margin: 0;
    font-size: 14px;
    text-align: center; /* Center the text */
    margin-bottom: 35px;
    margin-right: 10px;
    margin-left: -30px;
    margin-top: 10px;
}

.inner-content7 img {
    max-width: 55px; 
    margin-top: -20px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 35px;
}

.inner-content8 {
    position: relative;
}

.inner-content8 img {
    max-width: 50px;
    height: auto;
    margin-top: -450px;
    margin-bottom: 15px;
    margin-left: 880px;
}

.image2 {
    position: absolute;
    top: 0;
    left: 0;
}

.scroll-container {
    overflow-y: scroll;
    height: 100%;
    padding-top: 0px;
    margin-right: 20px;
    margin-bottom: 20PX;
}
    
.scroll-container::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
}
    
.scroll-container::-webkit-scrollbar-track {
    background-color: #01D7C9; /* Color of the scrollbar track */
    border-radius: 5PX;
}
    
.scroll-container::-webkit-scrollbar-thumb {
    background-color: #0FA958; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Adjust the border radius of the thumb */
}



